<%= form_for @movie do |f| %>


<% if @movie.errors.any? %>

  <% @movie.errors.full_messages.each do |error| %>
  <%= error.inspect%>
  <% end%>

<%end%>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Title
    </label>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Year
    </label>
    <div class="col-sm-10">
      <%= f.date_field :year, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Genre
    </label>
    <div class="col-sm-10">
      <%= f.text_field :genere, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
    Description
    </label>
    <div class="col-sm-10">
      <%= f.text_area :descripton, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Cast
    </label>
    <div class="col-sm-10">
      <%= f.text_field :cast, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Rating
    </label>
    <div class="col-sm-10">
      <%= f.text_field :rating, class: "form-control", required: true %>
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
    Image
    </label>
    <div class="col-sm-10">
      <%= f.file_field :image, class: "form-control", required: true %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit%>
    </div>
  </div>

  <%end%>
