<div class="row">
	<div class="col-md-12">
		<div class="carousel slide" id="carousel-247753">


			<ol class="carousel-indicators">
				<li class="active" h3. Lorem ipsum dolor sit amet.data-slide-to="0" data-target="#carousel-247753">
				</li><div class="container-fluid">
				<li data-slide-to="1" data-target="#carousel-247753">
				</li>
				<li data-slide-to="2" data-target="#carousel-247753">
				</li>
			</ol>


			<div class="carousel-inner">
				<div class="item active">
					<img alt="<%= @movie_carasol.first.title %>" src= "<%= @movie_carasol.first.image_url %>"  >
						<div class="carousel-caption">
￼

							<h4>
								<%= @movie_carasol.first.title %>
							</h4>
							<p>
					       <%= @movie_carasol.first.descripton %>
							</p>
		    			</div>
				</div>


				<div class="item">
					<img alt="<%= @movie_carasol.third.title %>" src= "<%= @movie_carasol.third.image_url %>" >
						<div class="carousel-caption">
							<h4>
								<%= @movie_carasol.third.title %>
							</h4>
							<p>
          			<%= @movie_carasol.third.descripton %>
							</p>
						</div>
				</div>

				<div class="item">
					<img alt="<%= @movie_carasol.second.title %>" src="<%= @movie_carasol.second.image_url %>"   >
						<div class="carousel-caption">
							<h4>
							<%= @movie_carasol.second.title %>
							</h4>
							<p>
           		<%= @movie_carasol.second.descripton %>
							</p>
						</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-247753" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#carousel-247753" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>
