<div><h1>Home page (index page)
<%= image_tag "home_icon", class: "images_icon"%>
</h1>





<%= image_tag "box", class: "images_header"%>
<%= link_to 'Newmovie', new_movie_path %>
<%if ! user_signed_in?%>
  <%= link_to 'SignUp',new_user_registration_path%>
  <%= link_to 'SignIn',new_user_session_path%>
<%else%>
<%=link_to 'SignOut', destroy_user_session_path , method: :DELETE%>
<%end%>
<div class="row">
    <% @movie.each do |m|%>
    <div class="col-md-3">
      <div class= "thumbnail">
        <a href="<%= movie_path(m)%>">
          <img src="<%= m.image_url%>" class='image' alt="<%= m.title %>" width="100%" height="600" >
        </a>
      </div>
    </div>
    <%end%>
  </div
</div>
