<div class= "body">
<div class = "container">

		<div class="container-fluid">
			<%=render 'navbar'%>
			<%=render 'slider'%>
			<%=render 'allmovies' %>

			<canvas id="bar-chart" width="800" height="450"></canvas>

			<script>
			<% names =  Array.new %>
			<% vii = Array.new %>
			<% @movie.order('view_count desc').limit(3).each do |m|%>
			<% names.push(m.title) %>
			<% vii.push(m.view_count) %>
			<% end %>

			new Chart(document.getElementById("bar-chart"), {
			    type: 'bar',
			    data: {
			      labels:<%= names.inspect.html_safe %>,
			      datasets: [{
			        label: "top 6 veiws",
			        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
			        data:<%= vii.inspect.html_safe %>
			      }]
			    },
					 options: {
								scales: {
											 yAxes: [{
													ticks: {
										 							beginAtZero:true
															 		}
															}]
										 }
			    }
			});
			</script>

</div>
</div>
</div>
