<div class = "container">
<div class="panel panel-default">
  <div class="panel-body">

    <div class="container-fluid">
      <%= render 'movies/navbar'%>
    	<div class="row">
    		<div class="col-md-4">
    			  <img src="<%=@movie.image_url%>" style="height:500px; width:100%"/>
    		</div>
    		<div class="col-md-8">
    			<dl>
    				<dt class= "fontstyle">

    					Title:
    				</dt>
    				<dd class"fonttexts">

              <%= @movie.title %>
            </font>
          	</dd>
    				<dt class= "fontstyle">
              Description:
    				</dt>
    				<dd class"fonttexts">
    					<%= @movie.descripton %>
    				</dd>
    				<dt class= "fontstyle">
    					Genere:
    				</dt>
    				<dd class"fonttexts">
    					<%= @movie.genere %>
    				</dd>
    				<dt class= "fontstyle">
    	         Caste:
    				</dt>
    				<dd class"fonttexts">
    					<%= @movie.cast %>
    				</dd>
            <dt class= "fontstyle">
    	         Year:
    				</dt>
    				<dd class"fonttexts">
    			       <%= @movie.year%>
    				</dd>
            <dt class= "fontstyle">
               Rating:
            </dt>
            <dd class"fonttexts">
              <%= @movie.rating%>
            </dd>

    			</dl>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-md-6">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h3 class="panel-title">
    						Comments
    					</h3>
    				</div>

            <%  @movie.comments.limit(3).each do |c| %>
      				<div class="panel-body">
      					<%= render partial: "comments/comment",locals:{comment: c }%>
      				</div>
            <%end%>
    				<div class="panel-footer">
              <h2>Add a comment:</h2>
              <%= render 'comments/form' %>

            </div>
    			</div>
    		</div>
    		<div class="col-md-6">

    		</div>
    	</div>
    </div>
<a class="button" <%= link_to 'Home',movies_path %></a>
      </div>
    </div>
  </div>
